body{
    margin: 0;
    letter-spacing: 0.3rem;
    list-style: none;
    width: 100%;
    
}
nav{
    display: flex;
    background-color: black;
    color: grey;
    align-items: center;
}
.sort{
    margin-top: 50px;
    width: 100%;
}
.list__cat__item{
    padding: 20px;
}
.btn{
    background-color: #254441;
}
.btn:hover{
    background-color: #AFD0BF;
    color: #254441;
}
.dropdown-content li:hover{
    background-color: #254441;
    color: white;
}
/* Primary #254441
secondary #e2efde
third #AFD0BF */
/* .main__section{
    display: flex;
    width: 80%;
    padding-top: 5%;
    margin: auto;
    height: 80vh;
}
.sort{
    border-radius: 5px;
}
.list__cat__item{
    border: solid 1px black;
    padding: 20px;
}
.list__cat__item:hover{
    background-color: green;
    cursor: pointer;
}

.list__articles{

    border: solid black 1px;
    
}
.list__articles > h1{
    background-color: green;
    margin: 0;
}
table{
    margin-top: 50px;
    border: solid black 1px;
    border-collapse: collapse;
}

th{
    background-color: blue;
    padding: 10px;
}
tr{
    border: solid black 1px;
}
td{
    
    padding: 10px;
    margin: 5px 0px 50px 0px;
    background-color: aqua;
    border: solid 1px black;
}
.quantity__articles {
    padding: 10px;
    text-align: center;
} */
.validateBasket{
    display: none;
}
.validateBasket{
    display: none;
}
.validateBasketShow{
    display: block !important;
}
.hiddenForm{
    display: none;
}
.showForm{
    display: block;
}
.card{
    display: none;
}
.cardShow{
    display: block;
}
.connexion__form--hidden{
    display: none;
}
.connexion__form--show{
    display: block;
}