body{
    margin: 0;
    letter-spacing: 0.3rem;
    list-style: none;
    width: 100%;
    
}
.main__section{
    display: flex;
}
header{
    display: flex;
    background-color: black;
    color: grey;
    align-items: center;
    justify-content: space-between;
}
.navBar{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-evenly;
}
.navigation{
    align-self: center;
}
.navBar > h1 {
    font-size: 35px;
}
.connexion__section{
    display: flex;
    align-items: center;
    margin-right: 20%;
    width: 10%;
    justify-content: space-around;
    padding: 10px;
    font-size: 20px;
}
.btn__connexion{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    font-size: 20px;
}
.btn__connexion:hover{
    cursor: pointer;
}

.logOut{
    display: none;
}
.logOutShow{
    display: block;
}

.navigation__item{
    height: 70px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-weight: bold;
    font-size: 20px;
}
.navigation__item:hover{
    background-color: #e2efde;
    color: #254441;
    transition: 1s;
}
a{
    color: #e2efde ;
}
a:hover{
    color: #254441 ;
}


.sort{
    margin-top: 50px;
    width: 100%;
}
.list__cat__item{
    padding: 20px;
}
.btn{
    background-color: #254441;
    width: auto;
    height: auto;
}
.btn:hover{
    background-color: #AFD0BF;
    color: #254441;
}
.dropdown-content li:hover{
    background-color: #254441;
    color: white;
}

.private__data__form{
    border: solid #254441 1px;
    padding: 20px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
/* Primary #254441
secondary #e2efde
third #AFD0BF */
/* .main__section{
    display: flex;
    width: 80%;
    padding-top: 5%;
    margin: auto;
    height: 80vh;
}
.sort{
    border-radius: 5px;
}
.list__cat__item{
    border: solid 1px black;
    padding: 20px;
}
.list__cat__item:hover{
    background-color: green;
    cursor: pointer;
}

.list__articles{

    border: solid black 1px;
    
}
.list__articles > h1{
    background-color: green;
    margin: 0;
}
table{
    margin-top: 50px;
    border: solid black 1px;
    border-collapse: collapse;
}

th{
    background-color: blue;
    padding: 10px;
}
tr{
    border: solid black 1px;
}
td{
    
    padding: 10px;
    margin: 5px 0px 50px 0px;
    background-color: aqua;
    border: solid 1px black;
}
.quantity__articles {
    padding: 10px;
    text-align: center;
} */
.validateBasket{
    display: none;
}
.validateBasket{
    display: none;
}
.validateBasketShow{
    display: block !important;
}
.hiddenForm{
    display: none;
}
.showForm{
    display: block;
}
.card{
    display: none;
}
.cardShow{
    display: block;
}
.connexion__form--hidden{
    display: none;
}
.connexion__form--show{
    display: block;
}
.logIn{
    display: block;
}
.logIn__hidden{
    display: none;
}
